*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("./assets/imagenes/fondo-flex.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.pajaro{
    width: 120px;
}
.main{
    margin-top: 280px; 
    padding: 0 40px;
} 
.fila_uno{
    display: flex;
    justify-content: space-around;
    padding-bottom: 90px;
}
.fila_dos{
    display: flex;
    justify-content: space-between;
}
.fila_tres{
    display: flex;
    justify-content: center;
}